.circle{
  background: linear-gradient(red,yellow);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: 45%;
  margin-top: 350px;

}

.count{
  padding: 50px;
  text-align: center;
  font-size: 90px;
}
.btn{
  margin-left: 42%;
  border-radius: 2px 10px 2px 10px ;
  height: 40px;
  width: 150px;
  background: linear-gradient(blue,purple);
  font-size: 20px;
  color: wheat;

}
.btn1{
  margin-left:1% ;
  height: 40px;
  width: 150px;
  border-radius: 2px 10px 2px 10px ;
  background: linear-gradient(blue,purple);
  font-size: 20px;
  color: white;



}
body{
  background-color: lightblue;
}